@page
@model SummitPro.Web.Pages.Barbecue.IndexModel
@{
	Layout = "_Layout";
}

<h1>Bem-vindo à Página Inicial</h1>

<a class="btn btn-primary text-white shadow-lg py-2 px-4 rounded" type="button" asp-page="/Barbecue/Create">New Event</a>
<a class="btn btn-primary text-white shadow-lg py-2 px-4 rounded" type="button" asp-page="/Participant/Create">Add Participant to Event</a>
<br />
<br />
<br />
<br />

@await Html.PartialAsync("../Shared/_SigningDocumentPartial", "Yuri Melo")

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Identifier</th>
			<th scope="col">Description</th>
			<th scope="col">Begin Date</th>
			<th scope="col">End Date</th>
			<th scope="col">Participants Quantity</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BarbecueViewModels)
		{
			<tr>
				<th scope="row">@Html.DisplayFor(o => item.BarbecueIdentifier)</th>
				<td>@Html.DisplayFor(o => item.Description)</td>
				<td>@Html.DisplayFor(o => item.BeginDate)</td>
				<td>@Html.DisplayFor(o => item.EndDateTime)</td>
				<td>@Html.DisplayFor(o => item.ParticipantQuantity)</td>
				<td>
					<button type="button" class="btn btn-primary">
                        Exibir
                    </button>
                </td>
			</tr>
		}
	</tbody>
</table>
